/* Card CSS */

.card,
.card-container {
  width: 180px;
  height: 250px;
}

.card {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
}

.card:focus {
  outline: 0;
}

.card:focus-visible {
  outline: 1px solid black;
}

.card:active {
  scale: 0.95;
  outline: 0;
}

.card-container {
  perspective: 1000px;
}

.card-container.back .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.85s;
  animation: flip-card 0.85s;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  user-select: none;
}

.card[data-shiny="true"] .card-name .name {
  background: linear-gradient(120deg, gold 0%, lightyellow 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shiny-symbol {
  position: absolute;
  top: 6px;
  left: 2px;
  width: 32px;
  height: 32px;
  background: url("../assets/sparkle.webp");
}

.card-name {
  letter-spacing: -0.02em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 6px;
  font-weight: bold;
  max-width: 100%;
  text-transform: capitalize;
  color: white;
  font-size: 15px;
  margin-bottom: 0;
}
@keyframes flip-card {
  from {
    transform: rotateY(180deg);
    pointer-events: none;
  }
  to {
    transform: rotateY(0deg);
  }
}

/* Region Block CSS */

.region-block{
    position: relative;
    align-items: center;
}

.region-block img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.region-block p{
    background-color: var(--background-color);
    padding: 0px 10px;
    margin-top: 10px;
}

.checkmark::before {
    display: block;
    content: "";
    background-image: url("./../../assets/images/pokeball-icon.png");
    position: absolute; 
    font-weight: bold;
    width: 40px;
    height: 40px;
    right: 5px;
    top: -15px;
    rotate: calc(30deg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Gradient Button CSS */
.btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}

.btn-grad {
    position: relative;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;

    border: none;
    overflow: hidden;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-img{
    top: -5px;
    right: -20px;
    position:absolute;
    rotate: calc(30deg);
    width: 60px;
    height: auto;
    opacity: 0.7;
}