
.region-block{
    position: relative;
    align-items: center;
}

.region-block img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.region-block p{
    background-color: var(--background-color);
    padding: 0px 10px;
    margin-top: 10px;
}

.checkmark::before {
    display: block;
    content: "";
    background-image: url("./../../assets/images/pokeball-icon.png");
    position: absolute; 
    font-weight: bold;
    width: 40px;
    height: 40px;
    right: 5px;
    top: -15px;
    rotate: calc(30deg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Gradient Button CSS */
.btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}

.btn-grad {
    position: relative;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;

    border: none;
    overflow: hidden;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-img{
    top: -5px;
    right: -20px;
    position:absolute;
    rotate: calc(30deg);
    width: 60px;
    height: auto;
    opacity: 0.7;
}