.error {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error h2 {
    color: red;
    background-color: var(--background-color);
}