/* Error and Loading screen css*/

.error, .loading {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader:before {
  position: relative;
  content:"Loading...";
  margin-left: 100px;
}

.loading h1{
  background-color: transparent !important;
}

@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

.error h2 {
    color: red;
    background-color: var(--background-color);
}