@font-face {
  font-family: "PokemonClassic";
  src: url("./assets/fonts/Pokemon Classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body, button{
  cursor: var(--pokeball);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PokemonClassic";
}

body {
  background-image: url("./assets/images/background.svg");
  background-size: 700px;
  background-repeat: repeat;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Game {
  width: min(1280px, 100vw);
  height: min(720px, 100vh);

  display: grid;
  
  background-image: url("./assets/images/game_model.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

