:root {
    --background-color: rgba(255, 255, 255, 0.8);
    --pokeball: url("/assets/cursors/pokeball") 4 4, pointer;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.6s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}